* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  justify-items: center;
}

#page {
  max-width: 1500px;
}

main {
  margin: 5%;
}

.headline {
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  color: #1B1B1B;
  padding: 8px 0 40px 0;
}

h2 {
  font-size: 32px;
  padding-top: 2px;
  padding-bottom: 8px;
}

h3 {
  font-size: 28px;
  padding-top: 20px;
  padding-left: 24px;
}

img {
  border-radius: 28px;
  width: 100%;
}

.subtitle {
  font-style: italic;
  text-align: center;
  padding-top: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #d9d9d9;
}

#tittle-list {
  padding-bottom: 64px;
}

ul {
  padding: 0 0 48px 24px;
}

.story {
  font-weight: bold;
  color: #0C51A7;
}

.couples {
  font-weight: bold;
  color: #591B98;
}

.families {
  font-weight: bold;
  color: #E5245E;
}

.budget {
  font-weight: bold;
  color: #E95E10;
}

.description {
  text-align: center;
  padding-bottom: 59px;
}

footer {
  font-family: "Alice", serif;
  color: #333333;
  text-align: center;
  padding-bottom: 47px;
}

footer img {
  vertical-align: middle;
  width: auto;
}